{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container-fluid h-100 login-page">
        <div class="container h-100 login-page__container">
            <div class="row login-page__wrapper">
                <div class="login-page__wrapper--logo">
                    <img src="{{ asset('assets/images/logo-white.png') }}" title="logo">
                </div>

                <div class="login-page__wrapper--button">
                {% for owner in hwi_oauth_resource_owners() %}
                    <a class="btn btn-login col-lg-4" href="{{ hwi_oauth_login_url(owner) }}">{{ owner|trans }}</a><br />
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
