$green: #9fd533;
$green-dark: #86b300;
$light-green: #99cc33;
$bg-color: #f5f5f5;
$white: #ffffff;
$grey-dark: #666666;
$grey-mid: #ccc;
$grey: #ddd;
$grey-light: #efefef;

$font: 'Roboto', sans-serif;

$radius: 8px;