.header {
    border-bottom: 1px solid $grey;
    padding: 40px 60px;
    background-color: $white;
}

.header__logout {
    color: $grey-dark;
    display: inline-block;

    &:before {
        content: "";
        display: block;
        background: url("../images/icons/ico-logout.png") no-repeat;
        width: 16px;
        height: 16px;
        float: left;
        margin: 3px 6px 0 0;
    }
}