.issue__container {
    max-width: 960px;
}

.issue__back-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.issue__back-block--button {
    &:before {
        content: "";
        display: block;
        background: url("../images/icons/ico-back.png") no-repeat;
        width: 16px;
        height: 16px;
        float: left;
        margin: 3px 6px 0 0;
    }
}

.issue__block {
    background: $white;
    padding: 20px 30px;
    margin-bottom: 40px;

    -webkit-box-shadow: 4px 6px 8px -6px $grey;
    -moz-box-shadow: 4px 6px 8px -6px $grey;
    box-shadow: 4px 6px 8px -6px $grey;

    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

.issue__block--title {
    font-weight: 300;

    span {
        color: $grey-mid;
    }
}

.issue__block--state {
    display: inline-block;
    text-transform: uppercase;
    background-color: $light-green;
    color: $white;
    padding: 7px 7px 4px 7px;
    border-bottom: 1px solid $green-dark;
    margin-right: 15px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    &:before {
        content: "";
        display: block;
        background: url("../images/icons/ico-attention-white.png") no-repeat;
        width: 16px;
        height: 16px;
        float: left;
        margin: 1px 6px 0 0;
    }
}

.issue__block--time {
    color: $grey-mid;
    display: inline-block;

    span {
        color: $green-dark;
    }
}