.label {
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px 5px;
    color: $white;
    font-weight: bold;
    text-transform: capitalize;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
