.list__right--side {
    background: url("../images/list-bg.png") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    text-align: center;
    display: block;
    height: 100%;

    &::before,
    .list__right-side--wrapper {
        display: inline-block;
        vertical-align: middle;
    }

    &::before {
        content: '';
        width: 0;
        height: 100%;
    }
}

.list__left-side {
    overflow-y: scroll;
}

.list__container {
    display: table;
    box-sizing: border-box;

    height: calc(100% - 111px);
    height: -webkit-calc(100% - 111px);
    height: -moz-calc(100% - 111px);
}

.list__row {
    height: 100%;
}

.list__right-side--wrapper {
    width: 100%;
}

.list__right-side--title {
    color: $white;
    width: 100%;
    font-weight: 300;
}

.list__issues-row {
    width: 100%;
    margin: 0;
}

.list__issue {
    padding: 20px;
}

.list__issue--title {
    &:hover {
        color: $grey-dark;
    }
}

.list__issue--icon {
    margin-right: 20px;
    float: left;
}

.list__issue--content {
    float: left;
    max-width: 500px;

    a {
        color: $grey-dark;
    }
}

.list__issue--comment {
    float: right;

    a, a:hover {
        color: $grey-dark;
    }

    span:before {
        content: "";
        display: block;
        background: url("../images/icons/ico-comments.png") no-repeat;
        width: 16px;
        height: 16px;
        float: left;
        margin: 3px 6px 0 0;
    }
}

.list__issue--time {
    color: $grey-mid;
    font-size: 12px;

    span {
        color: $green-dark;
    }
}
